#side-nav-menu-profile-icon {
  width: 30px;
  height: 30px;
}

a {
  display: block;
  color: white;
  text-decoration: none;
}

a:hover {
  background-color: rgb(201, 65, 65);
}

.indented {
  margin-left: 2em;
}