.card {
  border: 1px solid #bdc1c6;
  border-radius: 5px;
  margin: 10px; 
  margin-bottom: 30px;
  margin-top: 30px;
  padding: 10px;
}

.child-card {
  border: 1px solid #add8e6;
  border-radius: 5px;
}

.card-display--flex {
  display: flex;
  flex-direction: row;
}

.card--clickable:hover {
  transform: scale(1.01);
  border-color: #0E86D4;
}