.navbar {
    background: linear-gradient(45deg,#0E86D4, #68BBE3);
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 60px;
}

.navbar-title {
    display: inline-block;
    vertical-align: middle;
    font-size: 18pt;
    font-weight: bold;
}

.navbar-icon-placeholder {
    display: inline-block;
    vertical-align: middle;
    height: 60px;
    width: 66px;  /* 15px + 36px + 15px */
}

.navbar-icon {
    display: inline-block;
    vertical-align: middle;
    height: 30px;
    width: 30px;
    margin: 12px;  
}

.navbar-padding {
    height: 70px;
}